
@@include('./encabezado.html')
    <body style="background-color:#b1b1b1;">
        <div class="se-pre-con"></div>
        <div class="container-fluid" ng-controller="portfolioDetCtl">
          <div id="framecontent">
            @@include('./menu.html')
            <div id="sara">
            <!--   <img class="img-responsive" src="img/sara-contacto.png" alt=""/>  -->
            <a href="#" onclick="window.history.back()" class="hvr-rotate">
              <img class="img-responsive" src="img/volver.png" alt=""/>
            </a>

            </div>

          </div>
          <div id="maincontent">

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-offset-2 col-md-7" align="center">
                  <a href="index.html">
                      <img class="img-responsive" src="img/nube-faq.png" alt="Nube"/>
                  </a>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-offset-2 col-md-7" align="center">
                  <div id="portfolio-det-lista" ng-if="ready">
                    <div ng-if="cat==13" class="item " >
                        <video class="img-responsive" controls="" autoplay="" name="video" title="video">
                            <source src="img/silencio.mp4" type="video/mp4">
                            <source src="img/silencio.webm" type="video/webm">
                        </video>
                    </div>
                      <div ng-if="cat==14" class="item " >
                          <video class="img-responsive" controls="" autoplay="" name="video" title="video">
                              <source src="img/stu.mp4" type="video/mp4">
                              <source src="img/stu.webm" type="video/webm">
                          </video>
                      </div>
                    <div class="item " ng-repeat=" i in lista">
                        <img class="img-responsive" src="{{i.link_img1}}" alt="{{i.desc_corta}}">
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


@@include('./pie.html', {"fondo": "faq-fondo.jpg"})
